#back {
    position: fixed;
    top: 70px;
    left: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background: rgba(0,0,0,0.3);
    color: #e0e0e0;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    text-decoration: none;
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  /*border-radius: 10px;*/
  background-color: #333;
}

body::-webkit-scrollbar
{
  width: 1em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  /*border-radius: 10px;*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  background-color: #a8518a;
}

/*@media screen and (max-width: 450px)
{
  #section2, #section3, #section4, #section5, #section6, #section7,#section8{
    font-size:5vmin;
  }
  #section1 .section_content1{
    font-size:5vmin;
  }
}
@media screen and (min-width: 450px)
{
  #section1, #section2, #section3, #section4, #section5, #section6, #section7,#section8{
    font-size:23px;
  }

}*/
body{
  /*padding-top: 20px;*/
  width: 100%; height: 100%; position: absolute;
}
/*Importing Fonts COVES*/
@font-face {
    font-family: Coves;
    src: url('../fonts/Coves-Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: Coves;
    src: url('../fonts/Coves-Bold.otf') format('opentype');
    font-weight: bold;
}

.section > .container {
  font-family: "Roboto";
  position: relative;
  /*Position set to relative for this, so as to center the inside content container*/
    height: 100vh;
    min-width: 100%;
    /*padding: 50px;*/
    background: rgba(0,0,0,0.6);
    /*Giving an opacity layer*/
}

#section1{
    color:white;
    /*font-size: 20px;*/
    min-height:100vh;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    background: url('../bg_images/temp1.jpg');
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section2{
    color:white;
    /*font-size: 20px;*/
    min-height:100vh;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    background: url('../bg_images/temp1.jpg');
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section3{
    color:white;
    /*font-size: 20px;*/
    min-height:100vh;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    background: url('../bg_images/temp1.jpg');
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section4{
    color:white;
    /*font-size: 20px;*/
    min-height:100vh;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    background: url('../bg_images/temp1.jpg');
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section5{
    color:white;
    /*font-size: 20px;*/
    min-height:100vh;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    background: url('../bg_images/temp1.jpg');
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section8{
    color:white;
    /*font-size: 20px;*/
    min-height:85vh;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    background: url('../bg_images/temp1.jpg');
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Navbar editing*/
#logo{
    height:48px;
    padding: 3px 10px 5px 8px;
}

#myNavbar{
  font-family: "Coves";
  font-weight: bold;
}
#myNavbar li:hover{
    background: #a8518a;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #a8518a !important ;
}

.section > .container > .section_content1{
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
.section > .container > .section_content2{
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
.section > .container > .section_content3{
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
.section > .container > .section_content4{
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
.section > .container > .section_content5{
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
.section > .container > .section_content6{
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
.section > .container > .section_content7{
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
.section > .container > .section_content8{
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}

/*Bottom Social Media Buttons Styling*/
@media screen and (max-width: 350px)
{
  .icon
  {
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;
    line-height: 45px !important;
  }
}
#socialdiv{
  min-height: 15vh;
  background: #232526;  /* fallback for old browsers */
  padding: 10px 10px 1px 10px;
}
#socialx{
  /*position: absolute;*/
  bottom: 0;
}
.transition-animation {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* Ul styles */
#socialx ul {
  list-style: none;
}
#socialx ul > li {
  display: inline;
  margin-right: 20px;
}
/*
* Icon styles
*
* There are styles for icon and everything which are connected with it.
*/
.icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  color: #f1f1f1;
  line-height: 52px;
  text-align: center;
  background-color: #000000;
}
.icon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
}
/* Hover effect */
.icon-effect .icon {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.icon-effect .icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f1f1f1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.icon-effect-1a .icon:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.icon-effect-1a .icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}


#section7{
    position: relative;
  background-image: url("../bg_images/cs_bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#section6{
    position: relative;
  background-image: url("../bg_images/temp1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.pills
{
    border-radius: 20px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
}
#section6 > .container
{
    /*border-radius: 20px;*/
    /*background: rgba(0,0,0,0.7);*/
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  /*width: 50vmax;*/
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
#section7 > .container
{
  /*border-radius: 20px;*/
  /*background: rgba(0,0,0,0.7);*/
  position: absolute;
  /*position absolute wrt container div, which is parent div*/
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  /*width: 80%;*/
  height: 50%;
  /*Setting a wwidth and height is necessary for margin auto to work*/
  margin: auto;
}
/*body{
  padding-top: 20px;
  width: 100%; height: 100%; position: absolute;
}*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
  background-color: #a8518a !important;
}
.nav-pills li a
{
    background: rgba(0,0,0,0.7);
}
.nav-pills li a:hover
{
  background: rgb(168,81,138) !important;
}
